* {
  box-sizing: border-box;
}

header, main {
  max-width: 600px;
  margin: 0 auto;
}

header {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
  margin-bottom: 10px;
}

button {
  background-color: white;
}

.option-bar {
  background-color: #F1F1F1;
  height: auto;
  padding: 5px 10px;
}

.option-bar button {
  height: 100%;
  width: 100%;
  border: transparent;
  display: block;
  box-shadow: #888888 1px 2px;
}

.quick-items {
  display: flex;
  flex-direction: column;
  flex-basis: 50px;
  width: 60px;
  text-align: center;
  border: 1px solid black;
  margin-right: 8px;
  padding: 5px;
  background-color: #F1F1F1;
}

.quick-items button {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 50px;
  width: 50px;
  background-color: white;
  margin-top: 5px;
}

.quick-clothes {
  background-image: url(assets/006-tshirt.png);
}

.quick-socks {
  background-image: url(assets/001-underwear.png);
}

.quick-food {
  background-image: url(assets/005-fruit.png);
}

.quick-swimsuit {
  background-image: url(assets/007-short.png)
}

.quick-phone-charger {
  background-image: url(assets/002-usb.png);
}

.quick-first-aid {
  background-image: url(assets/003-medicine.png)
}

.quick-water {
  background-image: url(assets/004-water.png)
}

table {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #DFDFDF;
}

td, th {
  border: 1px solid transparent;
  height: 30px;
  transition: all 0.3s;
}

th {
  background: #DFDFDF;
  font-weight: bold;
}

td {
  background: #FAFAFA;
  text-align: center;
}

tr:nth-child(even) td {
  background: #F1F1F1;
}

tr:nth-child(odd) td {
  background: #FEFEFE;
}

.td-check {
  text-align: left;
  width: 20px;
}

.td-delete {
  text-align: right;
  width: 20px;
}

table>tr.green td {
  background: lightgreen;
}

/* tr:not(:first-child):hover td {
  background: #666;
  color: white;
}
*/

.flex-grid {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.col {
  flex: 1;
}