html {
  color: #465356;
  background-color: #e8f6f8;
}

section {
  border-radius: 5px;
}

.option-bar, .quick-items {
  background-color: #66d9ee;
}

.quick-items {
  font-weight: bold;
}

.quick-items button {
  background-color: white;
}

button {
  border-radius: 5px;
  background-color: #e8f6f8;
}

.modal {
  background: rgba(0, 0, 0, 0.2);
}

.modal-content {
  background: #fff;
}

.overlay {
  background: #000;
}

th {
  background: #66d9ee;
  font-weight: bold;
}

td {
  background: #FAFAFA;
  text-align: center;
}

tr:nth-child(odd) td {
  background: #e8f6f8;
}

tr:nth-child(even) td {
  background: #FEFEFE;
}

table>tr.green td {
  background: #66ee7ab9;
}

table button {
  background-color: white;
}

.accent {
  background-color: #ffb36a;
  font-weight: 600;
}

.check:hover {
  background-color: #ffb36a;
}

.delete:hover {
  background-color: rgb(255, 75, 15);
}

.list-table tr:not(:first-child):hover td {
  background: #4e5e61;
  color: white;
}

table {
  color: #465356;
}

.quick-clothes {
  background-image: url(assets/006-tshirt.png);
}

.quick-socks {
  background-image: url(assets/001-underwear.png);
}

.quick-food {
  background-image: url(assets/005-fruit.png);
}

.quick-swimsuit {
  background-image: url(assets/007-short.png)
}

.quick-phone-charger {
  background-image: url(assets/002-usb.png);
}

.quick-first-aid {
  background-image: url(assets/003-medicine.png)
}

.quick-water {
  background-image: url(assets/004-water.png)
}

/* top-left border-radius */

table tr:first-child th:first-child, table.Info tr:first-child td:first-child {
  border-top-left-radius: 6px;
}

/* top-right border-radius */

table tr:first-child th:last-child, table.Info tr:first-child td:last-child {
  border-top-right-radius: 6px;
}

/* bottom-left border-radius */

table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */

table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}